/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: #254E58;  /* 75b3b2 */
    border-color: #6E6658;
    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    font-size: 14,5px;
}

/* цвет текста, содержащий название сайта или бренда */
.navbar-default .navbar-brand {
    color: #F5FFFA;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #75b3b2; 
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #F5FFFA; /* Весь текст и справа значки меняют цвет */
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F5FFFA; /* Бегающая рамка по ссылкам */

}
.navbar-right a:hover,
.navbar-right a:focus {
    color: #F5FFFA;
}

/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #f4cf0f;
   background-color: #f4cf0f; /* я хер знает на что это влияет, поставил желтый цвет */
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #F5FFFA; /* текст открытого меню */
    background-color: #75b3b2; /* заливка открытого меню */
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #F5FFFA;
    border-bottom-color: #F5FFFA;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #F5FFFA;
    border-bottom-color: #F5FFFA;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #F5FFFA;
    border-bottom-color: #F5FFFA;
}
/* CSS стили для мобильных устройств */
/* Цвет рамки у кнопки, которая открывает меню */
.navbar-default .navbar-toggle {
    border-color: #75b3b2;
}
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #75b3b2;
}
/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #F5FFFA;
}
/* Цвет пунктов меню в раскрывающихся списках */
@media (max-width: 767px) { 
    .navbar-default .navbar-nav .open .dropdown-menu > li > a 
    {
        color: #F5FFFA;
        background-color: #254E58;
  }
}

/* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #F5FFFA;
    background-color: #75b3b2;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #75b3b2;
}

/* Цвет NAV при наведении курсора */
.nav-item:hover {
    background-color: #75b3b2;
} 
.dropdown:hover {
    background-color: #75b3b2; 
}
.navbar .navbar-header > .navbar-text {
    color: #F5FFFA;
    position: absolute;
}





body {
padding-top: 88px;
background: #e0e0e0;
}

.article {
background: #f5f5f5; /* rgba(255,255,255,0.78) */
padding-top: 20px;
margin-bottom: 10px;
border-radius: 15px;
} 

.yandex {
    background:rgba(255,255,255,0.88);
padding-top: 20px;
margin-bottom: 10px;
}

footer {
background:rgba(255,255,255,0.7);
line-height: 30px;
padding: 0 15px 0 15px;
}


/*
form div {
    margin-top: 1rem;
}
 
label, input, textarea, button, select{
    font-size: 1.3rem;
    line-height: 1.2
}
 
form {
    width: 30em;
    max-width: 90%;
    margin: 0 auto;
}
 
label {
    margin-bottom: 0.4rem;
    display: block;
}
 
input, textarea {
    padding: 0.4rem;
    width: 100%;
}
 
button {
    margin-top: 2rem;
    background: #A0A0A0;
    color: #fff;
    border: none;
    padding: 0.6rem;
}

.request {
    font-size: 20px;
    color: darkred;
    display: block;
    text-align: center;
}

*/
.year {
    color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.test {
    height: 1px;
    margin-top: 10px;
}
.btn-success {
    margin-bottom: 10px;
}

.badge-minpromtorg { 
    background-color: #9A554B;
    color: #fff; 
    display: inline-block;
}
.badge-custom { 
   /* font-size: .88rem; */
    padding: 0.5rem 1rem;  
    text-transform: uppercase;
}
.badge-pill {
    border-radius: 10rem;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff !important;
    background-color: #61a8a7 !important;
}

.tabnav {
    color: black !important;    
}



.footer{
  background: #254E58;
  color:white;
  
  .links{
    ul {
        list-style-type: none;
        }
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#75b3b2;
        }
    }
  }  
  .about-company{
    i{
        font-size: 25px;
    }
    a{
      color:white;
      transition: color .2s;
      &:hover{
        color:#75b3b2
        }
    }
  } 
  .location{
    i{
        font-size: 18px;
    }
    a{
        color: white;
        transition: color .2s;
        &:hover{
            color: #75b3b2;
            text-decoration: none;
        }
    }
  }
  .copyright p{
    border-top:1px solid rgba(255,255,255,.1);} 
}
.aservice {
  color: darkred;
  text-decoration: none;
}
.aservice:hover {
  color: black;
  text-decoration: none;
}
.apasport {
    margin-left: 20px; 
    text-decoration: none;
    font-size: 11px;
    color: darkred;
}
.apasport:hover {
    color: black;
    text-decoration: none;
}
/* Цвет значков почты и пр */
.navbar-default .navbar-nav > li > a.message:hover,
.navbar-default .navbar-nav > li > a.message:focus {
    color: #75b3b2; 
}


:root {
  --white: white;
  --gradient: linear-gradient(-45deg, #ffa600 0%, #ff5e03 50%);
  --form: #eeefef;
  --border-radius: 4px;
  --form-width: 500px;
  --form-mob-width: 320px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

button,
label {
  cursor: pointer;
}

label {
  display: block;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: none;
}

textarea {
  resize: none;
}



/* FORM
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
.feedback-label,
.form {
  position: fixed;
  top: 50%;
  right: 0;
  backface-visibility: hidden;
}
.feedback-label {
  transform-origin: top right;
  transform: rotate(-90deg) translate(50%, -100%);
  /*uncomment this if you want to reverse the order of the characters*/
  /*transform: rotate(90deg) translateX(50%);*/
  z-index: 2;
}
.form {
  width: var(--form-width);
  max-height: 90vh;
  transform: translate(100%, -50%);
  padding: 30px;
  overflow: auto;
  background: var(--form);
  z-index: 1;
}
.feedback-label,
.form,
.form button {
  transition: all 0.35s ease-in-out;
}
.feedback-label,
.form input,
.form textarea,
.form button {
  border-radius: var(--border-radius);

}
.feedback-label,
.form button {
  background: var(--gradient);
  color: var(--white);
}
.feedback-label:hover,
.form button:hover {
  filter: hue-rotate(-45deg);
}
.feedback-label {
  padding: 5px 10px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
form div:not(:last-child) {
  margin-bottom: 20px;
}
form div:last-child {
  text-align: right;
}
.form input,
.form textarea {
  padding: 0 5px;
  width: 100%;
}
.form button {
  padding: 10px 20px;
  width: 50%;
  max-width: 120px;
}
.form input {
  height: 40px;
}
.form textarea {
  height: 220px;
}

[type="checkbox"]:checked + .feedback-label {
  /*EDGE is buggy with calc + variables + transform - use a hardcoded value instead of variables*/
  transform: rotate(-90deg) translate(50%, calc((var(--form-width) + 100%) * -1)); 
  /*uncomment this if you want to reverse the order of the characters*/
  /*transform: rotate(90deg) translate(50%, var(--form-width));*/
}

[type="checkbox"]:focus + .feedback-label {
  outline: 1px solid #FFA7C8;
}

[type="checkbox"]:checked ~ .form {
  transform: translate(0, -50%);
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .form {
    padding: 15px;
    width: var(--form-mob-width);
  }
  form div:not(:last-child) {
    margin-bottom: 10px;
  }

  [type="checkbox"]:checked + .feedback-label {
    transform: rotate(-90deg) translate(50%, calc((var(--form-mob-width) + 100%) * -1));
    /*uncomment this if you want to reverse the order of the characters*/
    /*transform: rotate(90deg) translate(50%, var(--form-mob-width));*/
  }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.85rem;
  color: var(--black);
}

.page-footer span {
  color: #e31b23;
}

.AS {
    -webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #e8e6e6;
  background: linear-gradient(135deg, rgba(250, 250, 250, 1) 30%, rgba(28, 53, 120, 1) 50%, rgba(228, 24, 28, 1) 100%);
  -webkit-background-clip: text; 
  color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 4vw;
  font-weight: bold;
}
.SA {
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #e8e6e6; 
  background: linear-gradient(180deg, rgba(250, 250, 250, 1) 30%, rgba(28, 53, 120, 1) 50%, rgba(228, 24, 28, 1) 100%);
  -webkit-background-clip: text; 
  color: transparent;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 4vw;
  font-weight: bold;
}
.RF {
    font-style: italic;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}
