body{
	padding: 0;
	margin: 0;
	font-family: Tohama, serif; 
}
header, footer{
	background: #424242;
	padding: 50px;
}
h1{
	text-align: center;
}
div{
	width: 1200px;
	margin: 0 auto;
}
aside, main{
	width: 50%;
}
aside img{
	display: block;
	width: 50%;
	margin: 25px;
}
footer{
	color: #fff;
	text-align: center;
}

















